:root {
	--clr-light: #fefefe;
	--clr-dark: #2f2f2f;
	--clr-active: #ffaaaa;
	--clr-complete: #99ee99;

	--foreground: var(--clr-dark);
	--background: var(--clr-light);

	--ff-title: 'Playfair Display', serif;
	--ff-body: 'Assistant', sans-serif;
}

*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--ff-body);
	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
	-webkit-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
	-moz-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
	-ms-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
	-o-transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.darkmode {
	--foreground: var(--clr-light);
	--background: var(--clr-dark);
}

.active-task {
	font-family: var(--ff-title);
	color: var(--clr-active);
	font-size: larger;
	font-style: bold;
	border: solid var(--foreground) 1px;
	width: min-content;
}

.complete-task,
.complete-team {
	color: var(--clr-complete);
	font-style: italic;
}

@media (min-width: 800px) {
	body {
		font-weight: 300;
		font-size: 1.5rem;
		align-items: baseline;
		display: grid;
		grid:
			'header header header header darkMd' auto
			'...... tasks  active teams  ......' auto
			'footer footer footer footer footer' auto/
			1fr minmax(100px, 300px) minmax(100px, 300px) minmax(100px, 300px) 1fr;
	}

	.title {
		grid-area: header;
		font-family: var(--ff-title);
		text-align: center;
		font-size: calc(2vw + 2rem);
		font-weight: 900;
	}

	.all-tasks {
		top: 0px;
		grid-area: tasks;
		line-height: 1.5;
	}

	.active {
		align-items: baseline;
		top: 0px;
		grid-area: active;
	}

	.darkmode-btn {
		grid-area: darkMd;
		width: 10%;
	}

	.team-members {
		top: 0px;
		grid-area: teams;
		line-height: 1.5;
	}
}
